@model List<RepairFirm.Shared.Models.RepairServicesFactModel>
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Digitf</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
   <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse text-center" style="max-width: 800px; margin: 0 auto;" >
            <ul class="navbar-nav  ">
              <li class="nav-item">
                <a class="nav-link" href="Home">Home </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="Storage">Storage data <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="OTLP">OLTP data </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Meta">Metadata </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Diagram">Diagram </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Report"> Report </a>
              </li>
            </ul>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
  
  <!-- trending section -->

  <section class="trending_section layout_padding">
    <div id="accordion" >
      <div class="container">
          <h1 style="text-align: center;">All repair services</h1>
        <div class="row">
            <div class="col-md-12">

            <div  style="text-align: center; overflow-y: auto; ">  
            <table class="table table-bordered table-fixed" id="tblRepairs">  
                 <thead>
                    <tr>  
                        <th width="100">Repair Start Date</th>  
                        <th  width="100">Repair End Date</th>  
                        <th width="200">Repair</th>  
                        <th width="50">Room Id</th>  
                        <th width="50">Contract Id</th>  

                        <th width="70">Repair Count</th>  
                        <th width="100">Repair Total Hours</th>  
                        <th>Repair Service Total Price</th>  
                        <th>Relation To Total Contract Hours</th>  
                        <th>Relation To Total Contract Price</th>  
                        <th>Employee Count</th>  
                    </tr>  
                </thead>
                   
            <tbody class="scrollit">
                 
                @foreach (var item in Model)
                {
                    <tr>
                    <td  width="100">@Html.DisplayFor(modelItem => item.RepairStartDate)</td>
                    <td  width="100">@Html.DisplayFor(modelItem => item.RepairEndDate)</td>
                    <td width="200">@Html.DisplayFor(modelItem => item.RepairName)</td>
                    <td width="65"  >@Html.DisplayFor(modelItem => item.RoomId)</td>
                    <td width="86">@Html.DisplayFor(modelItem => item.ContractId)</td>
                    <td  width="70">@Html.DisplayFor(modelItem => item.RepairCount)</td>
                    <td width="100">@Html.DisplayFor(modelItem => item.RepairTotalHours)</td>
                    <td width="95">@Html.DisplayFor(modelItem => item.RepairServiceTotalPrice)</td>
                    <td width="112">@Html.DisplayFor(modelItem => item.RelationToTotalContractHours)</td>
                    <td width="110">@Html.DisplayFor(modelItem => item.RelationToTotalContractPrice)</td>
                    <td  width="80">@Html.DisplayFor(modelItem => item.EmployeeCount)</td>
                    </tr>
                }
               </tbody> 
              
            </table>  
             
            <form action="Storage/Filter" method="post">
                 <input type="checkbox" id="IsRepairStartDate" name="IsRepairStartDate">
                <select id="RepairStartDate" name="RepairStartDate">
                                        @foreach(var item in ViewBag.RepairStartDateList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsRepairEndDate" name="IsRepairEndDate">

                <select  id="RepairEndDate" name="RepairEndDate">
                                        @foreach(var item in ViewBag.RepairEndDateList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsRepairName" name="IsRepairName">
                <select id="RepairName" name="RepairName">
                                        @foreach(var item in ViewBag.RepairList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsRoomId" name="IsRoomId">
                <select id="RoomId" name="RoomId">
                                        @foreach(var item in ViewBag.RoomIdList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsContractId">
                <select id="ContractId" name="ContractId">
                                        @foreach(var item in ViewBag.ContractIdList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsRepairCount">
                <select  id="RepairCount" name="RepairCount">
                                        @foreach(var item in ViewBag.RepairCountList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsRepairTotalHours">
                <select  id="RepairTotalHours" name="RepairTotalHours">
                                        @foreach(var item in ViewBag.RepairTotalHoursList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsRepairServiceTotalPrice">
                <select id="RepairServiceTotalPrice" name="RepairServiceTotalPrice">
                                        @foreach(var item in ViewBag.RepairServiceTotalPriceList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsRelationToTotalContractHours">
                <select id="RelationToTotalContractHours" name="RelationToTotalContractHours">
                                        @foreach(var item in ViewBag.RelationToTotalContractHoursList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsRelationToTotalContractPrice">
                <select id="RelationToTotalContractPrice" name="RelationToTotalContractPrice">
                                        @foreach(var item in ViewBag.RelationToTotalContractPriceList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
                <input type="checkbox" id="IsContractId" name="IsEmployeeCount">
                <select id="EmployeeCount" name="EmployeeCount">
                                        @foreach(var item in ViewBag.EmployeeCountList)
                                        {
                                            <option value="@item">@item</option>
                                        }
                </select>
               
                <button type="submit">Filter</button>
            </form>
         </div> 
          </div>
          

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end trending section -->


  <!-- brand section -->

  <section class="brand_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          The most popular materials
        </h2>
      </div>
      <div class="brand_container layout_padding2">
        <div class="box">
          <a href="">
            <div class="new">
              <h5>
                New
              </h5>
            </div>
            <div class="img-box">
              <img src="images/slider-img.png" alt="">
            </div>
            <div class="detail-box">
              <h6 class="price">
                $100
              </h6>
              <h6>
                Цемент
              </h6>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="images/slider-img.png" alt="">
            </div>
            <div class="detail-box">
              <h6 class="price">
                $100
              </h6>
              <h6>
                Цемент
              </h6>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="images/slider-img.png" alt="">
            </div>
            <div class="detail-box">
              <h6 class="price">
                $100
              </h6>
              <h6>
                Цемент
              </h6>
            </div>
          </a>
        </div>
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="images/slider-img.png" alt="">
            </div>
            <div class="detail-box">
              <h6 class="price">
                $100
              </h6>
              <h6>
                Цемент
              </h6>
            </div>
          </a>
        </div>
      </div>
      <a href="" class="brand-btn">
        See More
      </a>
    </div>
  </section>


  <!-- end contact section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
    
}
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>


</html>